In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('graduates.csv')
df.head()

,Accounting/Finance/Contracts,Applied Research,Asians,Bachelors,Basic Research,Business/Industry,Career Change,Computer Applications,Design,Development,...,Standard Deviation,Student,Teaching,Total,Unemployed,Whites,Work Activity.Other,Working Conditions,Year,Unnamed: 21
0,0,793888,341238,84495,671374,224277,669270,98112,297235,118772,...,215169,297818.25,51891,381908,1295598,22803,1094775,99749,100886,1993
1,1,95346,65810,27531,125883,25328,150692,11081,67868,82344,...,44780,245705.77,2154,17718,211875,3647,173067,16361,6025,1993
2,2,240410,170327,49984,243247,95221,279775,36072,126471,81772,...,78059,276000.33,9453,104191,507616,11437,421911,35007,24843,1993
3,3,197407,68530,37295,235237,34892,186818,12002,123613,133430,...,73133,259543.49,2477,26892,336366,8163,281442,37940,9580,1993
4,4,484716,239183,83826,746586,131348,665249,59302,640201,251941,...,168404,269323.82,10210,234507,1070111,28925,887476,62482,56745,1993

In [7]:
plt.figure(figsize=(20,10))
g = sns.boxplot(x="Major", y="Total",data=df)

g.set_xticklabels(g.get_xticklabels(),rotation=20)
plt.title('Major v/s Number of Graduates')
plt.show()

ValueError: Could not interpret input 'Major'